$black: #151515;
$white: #FFFFFF;
$primary: #4a90e2;
$dark-grey: #242424;
$grey: #D9D9D9;

$colors-map: (
  black: $black,
  white: $white,
  green: $primary,
  dark-grey: $dark-grey,
  grey: $grey
);