@import '../../assets/general/scss/main.scss';

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  > .resume {
    display: flex;
    flex-direction: column;

    > .title {
      @include typo(m-heading, white);
      text-align: center;
  
      @include Mobile {
        letter-spacing: -1.14px;
      }

      @include Tablet {
        text-align: left;
        font-size: 54px;
        line-height: 62px;
        letter-spacing: -2.05px;
        width: 75%;
      }

      @include Desktop {
        @include typo(xl-heading, white);
        width: 80%;
      }
  
      > .highlight {
        border-bottom: 4px solid $primary;
      }
    }
  
    > .description {
      @include typo(body, grey);
      text-align: center;
  
      @include Mobile {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
      }

      @include Tablet {
        text-align: left;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
        width: 59%;
      }
    }

    @include Mobile { 
      align-items: center;
      gap: 24px;
    }

    @include Tablet {
      gap: 40px;
    }

    @include Desktop {
      padding-bottom: 186px;
    }
  }

  > .hero-banner {
    max-width: 174px;
    background: linear-gradient(180deg, transparent 0%, transparent 15%, rgba($primary, 50%) 100%);
    display: flex;
    align-items: flex-end;

    > img {
      width: 100%;
    }

    @include Mobile {
      max-width: 100px;
      padding: 100px 60px 0 50px;
      margin-top: -128px;

      > img {
        width: 200%;
        transform: translateX(-25%);
      }
    }

    @include Tablet {
      max-width: 322px;
      position: absolute;
      top: 0;
      right: -32px;
      padding-top: 133px;      
    }

    @include Desktop {
      max-width: 445px;
      padding-top: 133px;
      right: 0;
    }
  }

  @include Mobile {
    gap: 24px;
  }

  @include Tablet {
    display: grid;
    gap: 90px;
  }
}